<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="/" class="site_title"><i class="fa fa-spinner"></i> <span>手機管家</span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/user.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <h2>{{ user.first_name }}</h2>
      <span>上次登入時間:<br>{{user.last_login|date:"Y/m/d H:i:s"}}</span>
    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a href="/"><i class="fa fa-home"></i> 首頁 </a>
        </li>
        <li><a><i class="fa fa-wrench"></i> 維修管理系統 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/customer_form/">新增維修資料</a></li>            
            <li><a href="/customer_table/">維修資料查詢</a></li>
            <li><a href="/manage/costomer_fix_manage/">我的維修單</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-table"></i> 庫存查詢系統 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a>庫存倉管理<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/manage/stock_manage/">料件項目新增/刪除</a></li>
                <li><a href="/stock/manage_purchase/">進貨管理</a></li>
                <li><a href="/stock/manage_ship">出貨管理</a></li>
                <li><a href="/stock/manage_brand/">庫存查詢</a></li>
                <li><a href="/manage/stock_phone_purchase_logfile/">庫存進出紀錄</a></li>
                <li><a href="/manage/stock_fix_manu/">廠商資料管理</a></li>
              </ul>
            </li>      
            <li><a>NG倉管理<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/stock/manage_ng_ship/">NG品新增</a></li>
                <li><a href="/manage/stock_phone_ship/">NG品查詢</a></li>
              </ul>
            </li>            
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i> 後台資料系統 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a>手機資料管理系統<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li class="sub_menu"><li><a href="/manage/phone_brand/">手機型號管理</a></li>
                
                <!-- <li><a href="/manage/stock_name_manage_order/">庫存資料順序</a></li> -->
                
              </ul>
            </li>

            <li><a>維修表資料管理<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li class="sub_menu"><a href="/manage/accessories_name/">加購區管理</a></li>
                  <!-- <li><a href="/manage/accessories_name/">加購區管理</a></li> -->
                <li><a href="/manage/fix_part_manage/">維修項目管理</a></li>
                <li><a href="/manage/phone_color_manage/">手機顏色管理</a></li>
              </ul>
            </li>
            
          </ul>
        </li>
        <li><a><i class="fa fa-user"></i> 工作人員管理 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/manage/user_manage/">工作人員資料管理</a></li>
            <li><a href="/">維修師業績表</a></li>
            <li><a href="/">配件銷售業績表</a></li>
          </ul>
        </li>

        <li><a><i class="fa fa-bar-chart-o"></i> 財務管理系統 <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a>料件成本管理<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/manage/stock_price_manage/">料件單價管理</a></li>
                <li><a href="/stock/manage_purchase/">庫存成本總表</a></li>
              </ul>
            </li>      
            <li><a>營收報表<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/stock/manage_ship/">日報表</a></li>
              </ul>
            </li>            
          </ul>
        </li>

      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->

  <!-- /menu footer buttons -->
  <div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
      <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
  </div>
  <!-- /menu footer buttons -->
</div>
