{% extends "app/base_site.html" %}

{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>廠商資料管理</h3>
        </div>

        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>廠商資料管理</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div class="row">
                <div class="panel-group col-md-12 col-sm-12 col-xs-12" id="accordion">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">新增廠商 </a>
                          </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="form-group">
                          <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="POST" action="/post/manage/stock_fix_manu/">

                            <div class="form-group">
                              <label class="col-md-2 col-sm-2 col-xs-4" for="stock_fix_manu_name">廠商名稱 <span class="required">*</span>
                              </label>
                              <div class="col-md-4 col-sm-4 col-xs-6">
                                <input type="text" id="stock_fix_manu_name" name="stock_fix_manu_name" required="required" class="form-control col-md-7 col-xs-12">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 col-sm-2 col-xs-4" for="stock_fix_manu_phone">廠商電話 <span class="required">*</span>
                              </label>
                              <div class="col-md-4 col-sm-4 col-xs-6">
                                <input type="text" id="stock_fix_manu_phone" name="stock_fix_manu_phone" required="required" class="form-control col-md-7 col-xs-12">
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-md-2 col-sm-2 col-xs-4" for="stock_fix_manu_note">備註
                              </label>
                              <div class="col-md-4 col-sm-4 col-xs-6">
                                <input type="text" id="stock_fix_manu_note" name="stock_fix_manu_note" class="form-control col-md-7 col-xs-12">
                              </div>
                            </div>

                            <div class="form-group">                           
                              <div class="col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10 col-xs-12">
                                <button type="submit" class="btn btn-success">送出</button>{% csrf_token %}
                              </div>
                            </div>

                          </form>
                        </div>                        
                      </div>
                      </div>
                  </div>
                </div>
              </div>


              <table id="datatable" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>廠商名稱</th>
                    <th>廠商電話</th>
                    <th>備註</th>
                    <th>功能</th>
                  </tr>
                </thead>


                <tbody>
                  {% for count_list,stock_fix_manu_list in stock_fix_manu_lists_zip %}
                  <tr>
                    <td>{{count_list}}</td>
                    <td>{{stock_fix_manu_list.stock_fix_manu_name}}</td>
                    <td>{{stock_fix_manu_list.stock_fix_manu_phone}}</td>
                    <td>{{stock_fix_manu_list.stock_fix_manu_note}}</td>
                    <td><a href="/post/manage/stock_fix_manu_del/{{stock_fix_manu_list.stock_fix_manu_num}}">刪除</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- Datatables -->
  <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="/static/vendors/jszip/dist/jszip.min.js"></script>
  <script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}
